{% extends "app001/layout.html" %} {% block body %} {% if escuela %}
  <div class="card text-center">
    <h3 class="card-title">Datos de la Escuela</h3>
    <div class="card-body">
          <table class="table table-striped table-hover table-responsive-sm">
            <tbody>
              <tr>
                <td>Nombre</td>
                <td>{{escuela.nombre}}</td>
              </tr>
              <tr>
                <td>CUE</td>
                <td>{{escuela.cue}}</td>
              </tr>
              <tr>
                <td>CUISE</td>
                <td>{{escuela.cuise}}</td>
              </tr>
              <tr>
                <td>Dirección</td>
                <td>{{escuela.direccion}}</td>
              </tr>
              <tr>
                <td>Localidad</td>
                <td>{{escuela.localidad}}</td>
              </tr>
              <tr>
                <td>Directivo</td>
                <td>{{escuela.directivo.nombres}} {{escuela.directivo.apellidos}}</td>
              </tr>
              <tr>
                <td>Teléfono</td>
                <td>{{escuela.directivo.telefono}}</td>
              </tr>
              <tr>
                <td>Responsable</td>
                <td>{{escuela.responsable}}</td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
  <br>
    <div class="card">
      <div class="card-body">
        <table class="table table-striped table-hover table-responsive-sm">
          <tbody>
            <tr>
              <td>Netbooks pendientes de revisión</td>
              <td>{{netbooks_pendientes}}</td>
            </tr>
            <tr>
              <td>Netbooks funcionando correctamente</td>
              <td>{{netbooks_ok}}</td>
            </tr>
            <tr>
              <td>Netbooks que no estan funcionando</td>
              <td>{{netbooks_no_funcionan}}</td>
            </tr>
            <tr>
              <td>Netbooks bloqueadas</td>
              <td>{{netbooks_bloqueadas}}</td>
            </tr>
            <tr>
              <td>Netbooks pendientes de paquetes de migración</td>
              <td>{{netbooks_migracion}}</td>
            </tr>
            <tr>
              <td>Netbooks robadas</td>
              <td>{{robadas}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  
  {% if escuela.detalle %}
  <br>
  <div class="card">
    <div class="card-title text-center">
      <h3>Detalle</h3>      
    </div>
    <div class="card-body">
      <p>{{escuela.detalle}}</p>
    </div>
  </div>
  {% endif %}

        {% if netbooks %}
        <br>
        <div class="card text-center">
          <div class="card-title">
            <h2>Netbooks pertenecientes a la escuela</h2>
          </div>
          <div class="card-body">
            <table class="table table-striped table-hover table-responsive-sm">
              <tr>
                <th>Identificador</th>
                <th>Estado</th>
                <th>Opciones</th>
              </tr>      
              {% for netbook in netbooks %}
              <tr>
                <td>{{netbook.identificador}}</td>
                <td>{{netbook.estado}}</td>
                <td>
                  <a
                    href="{% url 'app001:detalle_netbook' netbook.id %}"
                    class="btn btn-success"
                    >Detalle</a
                  >
                  {% if perms.app001.change_netbook %}
                  <a> - </a>
                  <a
                    href="{% url 'app001:modificar_netbook' netbook.id %}"
                    class="btn btn-primary"
                    >Editar</a
                  >
                  {% endif %}
                  {% if perms.app001.delete_netbook %}
                  <a> - </a>
                  <a
                    href="#"
                    class="btn btn-danger"
                    onclick="eliminarNetbook({{netbook.id}})"
                    >Eliminar</a
                  >
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
              {% else %}        
              {% endif %}
            </table>
          </div>
          <div class="card-footer">
            <a href="{% url 'app001:listar_escuelas' %}" class="btn btn-success">Volver</a>
          </div>
        </div>
{% endif %} {% endblock %}
